@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

@layer base {
  * {
    @apply border-white/10;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full border-2 border-slate-950;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}
